<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- Mysql datasource -->
<!-- 	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/amazonspring"></property>
		<property name="username" value="xxxx"></property>
		<property name="password" value="xxxx"></property>
	</bean> -->
	
	<!-- Postgres datasource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<!-- Use this to connect to remote DB but run App locally -->
		<!-- <property name="url" value="jdbc:postgresql://ec2-54-235-68-4.compute-1.amazonaws.com:5432/d3sjumuab5ri8e?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"></property> -->
		<!-- <property name="url" value="jdbc:postgresql://ec2-54-235-68-4.compute-1.amazonaws.com:5432/d3sjumuab5ri8e"></property> -->		
		<!-- <property name="url" value="jdbc:postgresql://localhost:5432/amazonspring"></property> -->
		<!-- <property name="username" value="xxxxx"></property> -->
		<!-- <property name="password" value="xxxx"></property> -->
	</bean>	

	<bean id="mysessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>

		<property name="mappingResources">
			<list>
				<value>product.hbm.xml</value>
				<value>user.hbm.xml</value>
				<value>userrole.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
<!-- 				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				
				<!-- Allow automatic table creation -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>

			</props>
		</property>
	</bean>

	<bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="mysessionFactory"></property>
	</bean>

	<bean id="d" class="com.gc.model.dao.ProductsDAO">
		<property name="template" ref="template"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="u" class="com.gc.model.dao.UserDAO">
		<property name="template" ref="template"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="ur" class="com.gc.model.dto.UserRole">
		<!-- <property name="template" ref="template"></property> -->
	</bean>

	<bean id="prod" class="com.gc.model.dto.Product">
		<!-- <property name="template" ref="template"></property> -->
	</bean>

	<bean id="usr" class="com.gc.model.dto.User">
		<!-- <property name="template" ref="template"></property> -->
	</bean>

</beans> 